@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 26px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6{
  padding: 0;
  margin: 0;
}

ul , ol , li{
  list-style: none;
  padding: 0
}

a {
  text-decoration: none;
  color: #212121;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.hero_slide{
  position: relative;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
} */


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.app {
  width: 100vw !important;
}


.main_category .main_category--overlay {
 opacity: 0;
 background: rgba(0, 0, 0, 0.5);
 position: absolute;
 z-index: 9999;
 width: 100%;
 height: 100%;
 backdrop-filter: blur(2px);
 transition: opacity 0.4s ease-in-out;
}

.main_category:hover .main_category--overlay {
  opacity: 1;
}

.main_category:hover{
  transition: all 0.3s linear;
  transform: scale(1.1);
}



.customBtn {
  border:  1px solid #17696A;
  transition: all 0.5s ease-in-out;
  border-radius: 3px;
}

/* socials  */
.socialcard {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* Github*/
.containerTwo:hover {
  background-color: rgba(0, 0, 0, 0.055);
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Telegram*/
.containerFour:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
